/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    /* background: #777777; */
    background-image: url("../images/concrete-texture.png");
    width: '960px';
    font-size: '18px';
    margin: auto;
    line-height: 34px;
  }
  
  header, nav, section, footer, aside{
    padding: 20px;
    /* margin-bottom: 20px; */
    margin: 20px 10px;
     /* 20px 10px; */
    background: #ffffff;
    
  }
  /* header, nav, section, footer{
    width: 800px;
  } */
  footer {
    background: #666666; 
    border-top: 5px solid #4aaaa5;
    margin-left: 0px;
    margin-right: 0px;
  }
  section {
    width: 950px;
    /* height: 1050px; */
    margin: 0 0 0 0;
    /* display: inline; */
    /* border: 1px solid green; */
    float: left; /* This is what I was missing */
    /* overflow: auto; */
    /* padding: 20px; */
    background: #ffffff;
    /*
    padding: 20px;
    margin-bottom: 20px;
    color: #fff; */
    /* border: 1px solid red; */
  }
  
  aside {
    /* background: #ebebeb; */
    /* padding: 20px; */
    float: right; 
    height: 300px;
    width: 300px;
  }
  
  /* footer {
    background: #ebebeb;
    padding: 50px;
    width: 100%; 
    float: left;
  } */
  
  article{
    color: #ebebeb;
    /* background: #777777; */
    float: left;
    overflow: auto;
    /* width:930px; */
    /* height:960px; */
    /* border: 1px solid royalblue; */
  }
  
  h1, h2, h3, p {
    color: #777777;
    background: #ffffff;
    width: 900px;
    margin: 12px;
    /* font-family: 'Copse', serif; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: left;
  }
  
  h1 {
    color: #4aaaa5;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #777777;
    font-size: 28px;
    font-weight: bold;
  }

  /* p {
    height: 920px;
  } */

  .container{
    width: 950px;
    margin: 0 220px;
    overflow: auto;
  }
  

  .clearfix {
    overflow: auto;
  }
  
  /* .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  #bio-image{
    margin-right: 20px;
    width: 200px;
    float: left;
  }

  #header-h1 {
    width: 770px;
  }
  
  #container-1{
    width: 950px;
    margin: 0 220px;
    overflow: auto;
    margin-bottom: 180px;

  }
  
  #container-2{
    /* width: 1020px; */
    overflow: auto;
    /* border: 1px solid black; */
    /* height: 1050px; */
    margin-top: 20px;
  }
  
  #nav {
    /* background: #ebebeb; */
     padding: 0px;
    /* margin-bottom: 20px; */
    color: #fff;
    /* border: 1px solid red; */
    border-bottom: 1px solid #dddddd;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;
  }
  
  #title {
    background: #4aaaa5;
    color: white;
   /* padding: 20px; */
    float: left;
    width: 25%;
    margin: 0px;
    text-align: center;
    height: 80px;
    padding-top: 20px;
  }

  #left {
    /* background: #30948D; */
   /* padding: 20px; */
    float: left;
    width: 5%;
    margin: 0px 30px 0px 420px;
    padding-top: 25px;
  }
  
  #middle {
    /* background: #9E1212; */
    /* padding: 20px; */
    float: left;
    width: 5%;
    margin: 0px 30px 0px 30px;
    padding-top: 25px;
  }
  
  #right {
    /* background: #30948D; */
    /* padding: 20px; */
    float: left;
    width: 5%;
    margin: 0px 30px 0px 30px;
    padding-top: 25px;
  }
  
  /* #full { */
    /* background: #ebebeb; */
    /* padding: 80px; */
    /* clear: both;
    overflow: auto;
  } */
  
  #division {
    /* background: #ebebeb; */
    padding: 20px;
  
  }
    